.btn {
	background-color: $rimac-red;
	border: none;
	border-radius: 8px;
	color: $white;
	cursor: pointer;
	padding: 20px 32px;
	font-weight: 700;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	width: 100%;
}