.header-app {
	align-items: center;
	background-color: $white;
	border-bottom: 1px solid $light-blue;
	color: $medium-grey;
	display: flex;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	justify-content: space-between;
	padding: 20px 32px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;

	&__text {
		&--call {
			color: $medium-purple;
			font-size: 14px;
			margin-left: 8px;
		}
	}

	&__content-call {
		display: flex;
		align-items: center;
	}

	&.ishome {
		background-color: $medium-white;
		border-bottom: none;
		position: relative;
	}
}