//colors
$primary: #494F66;
$light-grey: #A3ABCC;
$medium-grey: #676F8F;
$rimac-red: #EF3340;
$white: #fff;
$green: #43B748;
$border-grey: #C5CBE0;
$medium-purple: #6F7DFF;
$light-blue:#E4E8F7;
$medium-white: #F7F8FC;

//sizes
$small10: 10px;
$small: 12px;
$medium: 14px;
$medium16: 16px;
$medium20: 20px;
$large: 24px;
$large28: 28px;
$large36: 36px;


